

<%- include('../template/nav')-%>

    <%- include('../template/head')-%>
   <!-- <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Villa la Angostura</h1>

        </main>-->
      
    <%- include('../template/footer')-%>

<script>
    window.onload = function() {
        document.getElementById('home').classList.add('active');
      };
</script>
</html>
