<link href="/cover.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <%- include('../template/nav')-%>
          <div id="intro" class="p-2 text-center bg-transparent">
            <h1 class="mb-0 ">Información General</h1>
          </div>
        <!--Main layout-->
        <main  id="main-list"class="mt- mb-5">
          <div class="container">
            <div class="row">
              <div class="col-md-8 mb-4 mt-lg-3">
                <section class="border-bottom mb-4">
                  <img src="/img/Turismo_VLA_Invierno_Bayo_S_4.jpg"
                    class="img-fluid shadow-2-strong rounded mb-4" alt="vla" />
                  <div class="row align-items-center mb-4">
                    <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                      <img src="https://img.icons8.com/ios/50/000000/person-female--v3.png" class="rounded shadow-1-strong me-2"
                        height="35" alt="icon" loading="lazy" />
                      <span> Publicado <u>15.08.2021</u>por</span>
                      <a href="#" class="text-dark">Camila Sanchez</a>
                    </div>
                  </div>
                </section>
                <section>
                  <h3>Historia De Nuestra Ciudad</h3>
                  <p class="text-start font-weight-lighter">
                    El Nombre de Villa La Angostura toma el nombre del istmo que une tierra firme y la península de Quetrihué produciendo un estrechamiento llamado angostura.
                    Rodeada de lagos y bosques, un paisaje extraordinario se combina con la calidez y singular belleza de la arquitectura de montaña.
                    Villa La Angostura se encuentra en el extremo sur de la Provincia del Neuquén en la margen norte del Lago Nahuel Huapi a 473 km de la capital neuquina y 1.693 km. de Capital Federal en plena cordillera patagónica.
                    Villa La Angostura es la puerta de entrada al Parque Nacional Arrayanes, único lugar en el mundo donde se encuentra un bosque natural de esta especie.
                    Villa La Angostura
                    <strong>Datos de interés</strong>

                    Población: 12000 aprox.
                    Tasa media Anual de Crecimiento:
                    (1991-2001) 121,83%
                    Densidad: 98,15 habitantes por km2:
                    Ejido municipal: 7960 has. de superficie.
                    <strong>Clima</strong>

                    Tiene las características del clima húmedo de la Cordillera Patagónica con frecuencia de nevadas en invierno y lluvias a principios de la primavera y fines de otoño. El reparo de los cerros y la vecindad de los lagos determinan un microclima. Durante los meses de Mayo y Junio se producen las primeras nevadas y en Julio, Agosto las más copiosas, alcanzando alturas de 50 cm. en la localidad.
                    La temperatura media anual llega a los 9 grados centígrados con máximas de 30 grados centígrados en verano y hasta -15 grados centígrados en invierno.

                    <strong> Origenes de los Lagos</strong>
                    La formación de la cuenca de los grandes lagos, se remonta a la época preglacial. La etapa glacial que sucedió a este período cubrió por enfriamiento toda la región sureña con una capa de hielo. Movimientos volcánicos de importancia y ondulaciones de la tierra redujeron las eternas masas glaciares que por su temperatura quedaron en las partes superiores.
                    Villa La Angostura
                    Cuando comenzó la acción de desplazamiento hacia los valles inferiores estos inmensos ventisquero arrollaron en su lento avanzar todo cuanto encontraron a su paso, profundizando con su arrastre a los valles, formando con ellos los elementos remolcados especie de dique naturales y laterales que científicamente se denominan morena.
                    Posteriormente y al desparecer los hielos, quedaron enormes cavidades en donde se fueron formando los lagos de esta zona a medida que transcurrió la acción del agua sobre las morenas, produjo otro fenómeno: al presionar sobre las paredes de éstas rompió esos diques y avanzó. Posteriormente, al desaparecer los hielos, quedaron enormes cavidades donde se formaron los lagos de esta zona. A medida que transcurrió la acción del agua sobre las morenas produjo otro fenómeno: al presionar sobre las paredes de éstas rompió esos diques y avanzó hacia el Atlántico, formando lo que es hoy el Río Limay, único escape de las aguas hacia el océano.
                    Villa La Angostura
                    Río Correntoso. Hacia el Sur se encuentra el lago y río Correntoso este último mide 132 mts. Y es uno de los ríos más cortos del mundo.
                    El Lago Nahuel Huapi con sus variadas bahías, penínsulas, e islas, es el más importante de la región lacustre con 550 km2 (equivalente a toda la capital Federal), a 764 m.s.n.m., y con profundidades de hasta 450 m.
                    
                    <strong>Flora</strong>
                    La vegetación que tiene Villa La Angostura es exuberante, Como resultado de la humedad ambiental, se favorece el desarrollo de especies de frutas finas tales como frutilla, frambuesa, grosella, rosa mosqueta, hongos y flores como rosas y tulipanes.
          
                    <strong>Fauna</strong>
                    Esta es una de las zonas más conocidas en el mundo por sus excelentes condiciones para la pesca entre los más destacado de la fauna de la zona es la importante variedad de especies ictícolas que se encuentran en sus lagos: salmón, salmón plateado, trucha de arroyo, trucha marrón, trucha arco iris, pejerrey, bagre, bagre del Río Limay y el piuyén.
                    También se destacan en la fauna de la región el jabalí, el ciervo, el pudú, el gato huiña, monito del monte y la liebre.
                    Entre las aves hay una importante variedad como el carpintero negro patagónico, cotorra austral o el chucao.
                  </p>
                  <p><strong>Excursiones en Villa La Angostura</strong></p>
                  <p>
                    Hay variadas excursiones en Villa La Angostura, A partir de mediados de octubre comienza la temporada de pesca y en verano es el momento ideal para el trekking, salir en canoa, cabalgatas, mountain bike y todo tipo de turismo aventura.
                  </p>
                  <p class="note note-light">
                    Un lugar espectacular es la casacada Dora para llegar se toma ruta 40, por el camino de los 7 lagos hasta llegar a una bifurcación a la izquierda se va a Chile y a la derecha a San Martin de los andes. Se toma a la izquierda hacia Chile y se tienen que pasar la aduana argentina. 
                  </p>
                  <p>
                    la Cascada Santa Ana. Para una travesía corta puede subir al mirador Quetrihue, ubicado en el Parque Nacional Los Arrayanes. Para llegar desde la ciudad, tome el Boulevard Nahuel Huapi hacia el puerto y se encontrará con la subida hacia el mirador Quetrihue metros antes del llegar a Bahia Brava. 
                  </p>
      
                  <img src="/img/encabezadovla.jpg" class="img-fluid shadow-1-strong rounded mb-4"
                    alt="vla" />
      
                  <ul>
                    <li>Bosque de Arrayanes</li>
                    <li>Paseos Lacustres</li>
                    <li>Mirador Quetrihue</li>
                    <li>Mirador Belvedere</li>
                    <li>Puerto Manzano</li>
                    <li>Ruta de los 7 lagos</li>
                  </ul>
                  <p>
                    No se pierda el sendero de 12 kilómetros que recorre longitudinalmente la península y su célebre bosque. Ubicada al sur de la Provincia de Neuquén, es uno de esos lugares ideales, en cualquiera de las cuatro estaciones.
                  </p>
                </section>
                <section class="border-bottom mb-4 pb-4">
                  <div class="row">
                    <div class="col-3">
                      <img src="/img/7lagos-350x234.jpg"
                        class="img-fluid shadow-1-strong rounded" alt="" />
                    </div>
      
                    <div class="col-9">
                      <p class="mb-2"><strong>Navegá por el lago!</strong></p>
                      <a href="" class="text-dark"><i class="fab fa-facebook-f me-1"></i></a>
                      <a href="" class="text-dark"><i class="fab fa-twitter me-1"></i></a>
                      <a href="" class="text-dark"><i class="fab fa-linkedin me-1"></i></a>
                      <p>
                        La navegación por el lago Nahuel Huapi, bordeando la península de Quetrihué, conduce al Bosque de Arrayanes, famoso por sus árboles color canela de unos 20 metros de altura.
                      </p>
                    </div>
                  </div>
                </section>
                <section class="border-bottom mb-3">
                  <h3 class="text-center"><strong>Comentarios</strong></h3> 
      
                  <!-- Comment -->
                  <div class="row mb-4">
                    <div class="col-2">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg"
                        class="img-fluid shadow-1-strong rounded" alt="" />
                    </div>
      
                    <div class="col-10">
                      <p class="mb-2"><strong>Marta</strong></p>
                      <p>
                        Es mi paraíso en la tierra,en cada lugar hay algo que sorprende.Hermosos paisajes,buena atención,excelentes lugares gastronómicos,excelentes hospedajes ,todo es maravilloso.Amo Villa La Angostura.❤️
                      </p>
                    </div>
                  </div>
                  <!-- Comment -->
                  <div class="row mb-4">
                    <div class="col-2">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(25).jpg"
                        class="img-fluid shadow-1-strong rounded" alt="" />
                    </div>
      
                    <div class="col-10">
                      <p class="mb-2"><strong>Valeria</strong></p>
                      <p>
                      Es un lugar maravilloso, perfecto para descubrir en cada recorrido del camino una nueva postal. Amo ese mágico lugar del cual solo tengo preciosos recuerdos.
                      </p>
                    </div>
                  </div>
                  <!-- Comment -->
                  <div class="row mb-4">
                    <div class="col-2">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg"
                        class="img-fluid shadow-1-strong rounded" alt="" />
                    </div>
      
                    <div class="col-10">
                      <p class="mb-2"><strong>Antonia</strong></p>
                      <p>
                        Hay lugares donde una se queda, y lugares que quedan en una, VLA quedo y queda en mi.. donde he descubierto la desconexión de la rutina y la conexión profunda con la naturaleza, la elijo todos los años .. donde sucede lo que sueño y le gano al miedo.. Sin dudarlo.. es mi lugar
                      </p>
                    </div>
                  </div>
                </section>
                <section>
                  <p class="text-center"><strong>Escibe un comentario!</strong></p>
                  <form>
                    <div class="form-outline mb-4">
                      <input type="text" id="form4Example1" class="form-control" />
                      <label class="form-label" for="form4Example1">Nombre</label>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="email" id="form4Example2" class="form-control" />
                      <label class="form-label" for="form4Example2">Email</label>
                    </div>
                    <div class="form-outline mb-4">
                      <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                      <label class="form-label" for="form4Example3">Texto</label>
                    </div>
                    <div class="form-check d-flex justify-content-center mb-4">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
                      <label class="form-check-label" for="form4Example4">
                     Enviame una copia del comentario.
                      </label>
                    </div>
                    <button type="submit" class="btn btn-info btn-block mb-4">
                      Publicar
                    </button>
                  </form>
                </section>
              </div>
              <div class="col-md-4 mb-4">
                <!--Section: Sidebar-->
                <section class="sticky-top" style="top: 80px;">
                  <!--Section: Ad-->
                  <section class="text-center border-bottom pb-4 mb-4">
                    <div class="bg-image hover-overlay ripple mb-4">
                      <img
                        src="/img/wine.jpg"
                        class="img-fluid" />
                      <a href="#" target="_blank">
                        <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                      </a>
                    </div>
                    <h5>Descubrí Nuestra Gastronomía</h5>
      
                    <p>
                      Villa La Angostura lo invita a hacer un recorrido a través de los sabores únicos de la cocina patagónica, y parrila, truchas enormes, cordero patagónico entre muchos otros, son los platos que visten las mesas de nuestros restaurantes. Conocer nuestra cocina es recorrer los sabores definitivamente bien logrados, es algo que no se lo puede perder.
                    </p>
                    <a role="button" class="btn btn-info" href="#"
                      target="_blank">Ver más<i class="fas fa-download ms-2"></i></a>
                  </section>
                  <!--Section: Ad-->
      
                  <!--Section: Video-->
                  <section class="text-center">
                    <h5 class="mb-4">Videos de nuestros turistas</h5>
                    <div class="embed-responsive embed-responsive-16by9 shadow-4-strong">
                      <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/ekspGxItAUI"
                        allowfullscreen></iframe>
                    </div>
                  </section>
                </section>
              </div>
            </div>
          </div>
        </main>
        <!--Main layout-->
        <%- include('../template/footer')-%>
    </div>

