
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <footer id="dk-footer" class="dk-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-4">
                        <div class="dk-footer-box-info">
                            <a href="#" class="footer-logo">
                                <img src="/img/icons8-footer.png" alt="footer_logo" class="img-fluid">
                            </a>
                            <p class="footer-info-text">               
                         Requisitos de Ingreso Certificado de viaje otorgado por app cuidar a través de la página www.argentina.gob.ar.
                        Reservas en establecimientos habilitados. Cumplir con los requisitos de bioseguridad sanitario seguro de covid-19 (Sugerido para todos los pasajeros) *
                            </p>
                            <div class="footer-social-link">
                                <h3>Seguinos!</h3>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contact-us">
                                    <div class="contact-icon">
                                        <i class="fa fa-map-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="contact-info">
                                        <h3>Argentina</h3>
                                        <p>Provincia de Neuquen</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-us contact-us-last">
                                    <div class="contact-icon">
                                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                    </div>
                                    <div class="contact-info">
                                        <h3>434559693</h3>
                                        <p>Telefono</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="footer-widget footer-left-widget">
                                    <div class="section-heading">
                                        <h3>Links Frecuentes</h3>
                                        <span class="animate-border border-black"></span>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#">Inicio</a>
                                        </li>
                                        <li>
                                            <a href="#">Info General</a>
                                        </li>
                                        <li>
                                            <a href="#">Pesca</a>
                                        </li>
                                        <li>
                                            <a href="#">Contacto</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End col -->
                            <div class="col-md-12 col-lg-6">
                                <div class="footer-widget">
                                    <div class="section-heading">
                                        <h3>Subscribite</h3>
                                        <span class="animate-border border-black"></span>
                                    </div>
                                    <p>Suscribite con tu e-mail y recibí todas nuestras noticias.
                                    </p>
                                    <form action="#">
                                        <div class="form-row">
                                            <div class="col dk-footer-form">
                                                <input type="email" class="form-control" placeholder="Dirección de E-mail">
                                                <button type="submit">
                                                    <i class="fa fa-send"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <span>Copyright © 2021, All Right Reserved </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="back-to-top" class="back-to-top">
                <button class="btn btn-dark" title="Vuelve arriba" style="display: block;">
                    <i class="fa fa-angle-up"><a href="#"></a></i>
                </button>
            </div>
</footer>
