<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="información Villa La Angostura">
    <meta name="author" content="camila sanchez">
    <title> INFO Villa la Angostura</title>
    <link rel="shortcut icon" href="/img/icons8-mountain-64.png" sizes="32px">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="/cover.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
</head>
<body>
    <section class="logo-header">
       <div class="container h-100">
          <div class="row h-100 align-items-center">
             <div class="col-12 col-md-12 text-center header-content">
                <h1>
                    Villa La Angostura, un futuro soñado por pioneros.</h1>
                <p>
                    Rodeada de lagos y bosques, un paisaje extraordinario se combina con la calidez y singular belleza de la arquitectura de montaña.</p>
                <p>
                   <a class="btn btn-info rounded" target="_blank" href="#">Conoce mas</a>
                </p>
             </div>
          </div>
       </div>
    </section>
        <section id="why-choos">
            <div class="container">
                <div class="section-header text-center bg-info">
                    <h3>Vacaciones Inolvidables</h3>
                    <h4>Mirá las Propuestas</h4>
                </div>
                <div class="choose-list row">
                    <div class="col-sm-3">
                        <div class="main-wrap">
                            <div class="image-wrap">
                                <img src="/img/icons8-wooden-house-60.png" class="img-responsive">
                            </div>
                            <div class="text-wrap">
                                <h3 class="text-light"><u>Alojamiento</u></h3>
                                <p>Villa La Angostura, cuenta con una variedad de Hosterías, Aparts , Hoteles y Cabañas. Las mismas pueden tener vista la lago o vista al bosque nativo propio de La Angostura.</p>
                                <a  class="bg-info"href="#">Ver más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="main-wrap">
                            <div class="image-wrap">
                                <img src="/img/map-marker-1_icon-icons.com_56710.png" class="img-responsive">
                            </div>
                            <div class="text-wrap">
                                <h3 class="text-light"><u>Ubicación</u></h3>
                                <p>La ciudad de Villa La Angostura se encuentra ubicada al sur de la provincia del Neuquén.
                                    Los aviones tienen destino a Bariloche. Los vuelos despegan desde el Aeroparque Jorge Newbery.
                                </p>
                                <a class="bg-info"href="#">Ver más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="main-wrap">
                            <div class="image-wrap">
                                <img src="/img/icons8-alps-60.png" class="img-responsive">
                            </div>
                            <div class="text-wrap">
                                <h3 class="text-light"><u>Aventura</u></h3>
                                <p>Hay variadas excursiones en Villa La Angostura, A partir de mediados de octubre comienza la temporada de pesca y en verano es el momento ideal para el trekking, salir en canoa, cabalgatas, mountain bike y todo tipo de turismo aventura.</p>
                                <a class="bg-info" href="#">Ver más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="main-wrap">
                            <div class="image-wrap">
                                <img src="/img/icons8-snowboarding-50.png" class="img-responsive">
                            </div>
                            <div class="text-wrap">
                                <h3 class="text-light"><u>Cerro Bayo</u></h3>
                                <p>Cerro Bayo apenas a 7 km, de Villa La Angostura, rodeado de bosques nativos, con vista al lago Nahuel Huapi y a la Cordillera de los Andes. 200 hectáreas de pistas para la practica de ski y snowboard.</p>
                                <a  class="bg-info"href="#">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="card mb-3">
            <img src="/img/cerro-bayo.jpg" class="card-img-top" alt="ivierno vla">
            <div class="card-body mt-5 mb-5">
              <h3 class="card-title">Cerro Bayo, Información General</h3>
              <p class="card-text text-break font-weight-normal">Uno de los cerros con las mejores vistas de América Latina. De 1.782 m de altura, está rodeado de bosques que se suman a la magnífica vista del Lago Nahuel Huapi. La base del centro de esquí, se encuentra a 1.050 m.s.n.m.
                Mientras se asciende hacia la base, se puede ir parando para disfrutar de las increíbles vistas que ofrecen sus tres miradores emplazados en distintos puntos panorámicos.
                El cerro ofrece actividades durante todo el año, sumado a una amplia oferta gastronómica en sus distintos paradores.
                Durante el invierno Cerro Bayo ofrece las mejores vistas y paisajes de la Patagonia. Deslizarse por sus pistas con una constate vista al lago y sus bosques nativos es una experiencia inigualable.
                Bayo cuenta con 31 Pistas con 4 niveles de dificultad y 16 Medios de elevación. Tiene una capacidad máxima de remonte: 9245 pax por hora. Una de sus clásias pistas, el Camino Panorámico cuenta con 5 Km. de travesía frente al lago Nahuel Huapi, sumado a esto, hay 14 Km. de pistas esquiables, 5 paradores y escuela de ski y snowboard con instructores de alto nivel. 
                Es el primer centro de ski en Latinoamérica certificado en Protección del medio Ambiente, cumpliendo la norma ISO 14.001 por la implementación de sus políticas ambientales.
                Sin dudas, un lugar espectacular para disfrutar de la nieve en familia.
                En verano se puede realizar trekking recorriendo una de las mejores vistas de la Patagonia. Existen también descensos guiados en bici por el camino panorámico. 
                Los ciclistas de nivel avanzado pueden hacer descenso en MTB en el bike park. También está la chance de hacer Canopy a través del bosque y cruzando el río Bonito.
                </p>
            </div>
          </div>   
</body>
<html>